<html>
    <head>
        <title>Walk ins Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Activities</a>
                <a class="navbar-brand" href='/businesses'>Businesses</a>
                <a class="navbar-brand" href='/userhome'>User Login</a>
                <a class="navbar-brand" href='/businesshome'>Business Login</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
        </nav>
        <div class='container'>
            <legend class="activity">{{ activity.getActivityName }}</legend>
                <h4>Event Date: {{ activity.getActivityDate }}</h4>
                <h4>Address: {{ activity.getActivityLocation }}</h4>
                <h4>Description: {{ activity.getActivityDescription }}</h4>
                <h4>Price: {{ activity.getActivityPrice }}</h4>
                <h4>Availability: {{ activity.getActivityQuantity }}</h4>


            <button type='submit' class="btn btn-primary">RSVP</button>
        </div>
    </body>
</html>
