<html>
<head>
    <title>Business Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Activities</a>
                <a class="navbar-brand" href='/businesses'>Businesses</a>
                <a class="navbar-brand" href='/userhome'>User Login</a>
                <a class="navbar-brand" href='/businesshome'>Business Login</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
        </nav>
<body>
    <div class="container">
    {% if businesses is not empty %}
        <h3> Here are the businesses offering fun things: </h3>
            {% for business in businesses %}
                <legend class="">{{ business.getBusinessName }}</legend>
                <h4>Phone: {{ business.getBusinessPhone }}</h4>
                <h4>Contact: {{ business.getBusinessContact }}</h4>
                <h4>Website: {{ business.getBusinessWebsite }}</h4>
                <h4>Address: {{ business.getBusinessAddress }}</h4>
                <h4>Email: {{ business.getBusinessContactEmail }}</h4>
                    <br>
            {% endfor %}
    {% else %}
        <p>There are no businesses currently offering today</p>
    {% endif %}

</div>
</body>
